/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@import url(https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans);

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
  width:auto;
  height:100%;
}

header h1{
  margin:0;
  margin-left:10%;
  padding-top:5%;
  font-family:"Open Sans",sans-serif;
  font-weight:800;
  font-size:3.5em;
  color:#ffffff;
}

header p{
  margin:0;
  margin-top:5%;
  margin-left:20%;
  font-family:"Open Sans",sans-serif;
  font-weight:600;
  font-size:2em;
  color:#ffffff;
}

header button{
  margin:0;
  margin-top:5%;
  margin-left:40%;
  font-family:"Open Sans",sans-serif;
  font-weight:800;
  font-size:2em;
  border-radius: 5px;
  padding:0.5em 2em 0.5em 2em;
  background-color:#f9e42e;
  color:#121212;
}

header button:hover{
  background-color:#033048;
  color:#f9e42e;
}

section.benefits{
  background-color:#f0efef;
}

section.benefits div.benefits_container {
  width:50%;
  height:70%;
  margin-left:10%;
  padding-top:5%;
  padding-bottom:5%;
}

section.benefits h2{
  margin:0;
  color:#606161;
  font-family:"Open Sans",sans-serif;
  font-weight:600;
  font-size:3.5em;
}

section.benefits p{
  color:#606161;
  font-family:"Open Sans", sans-serif;
  font-weight:300;
  font-size:1.5em;
}

section.benefits li{
  color:#606161;
  font-family:"Open Sans", sans-serif;
  font-weight:300;
  font-size:1.5em;
}

section.benefits ul{
  margin-left:5%;
}

section.testimonial{
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size:cover;
  width:auto;
  height:100%;
}

section.testimonial div.testimonial_container{
  height:70%;
  width:80%;
  padding-top:15%;
  margin-left:10%;
}

section.testimonial q{
  display:block;
  text-align:center;
  color:#f0efef;
  font-size:2em;
  font-weight:300;
  font-style:italic;
}

section.testimonial p.citation{
  text-align:center;
  color:#ffffff;
  font-size:2em;
  font-weight:600;
}

section.signup{
  line-height:5em;
  background-color:#f9e42e;
}

section.signup div.signup_container{
  width:40%;
  margin-left:30%;
}

section.signup button{
  margin-top:5%;
  margin-bottom:5%;
  margin-left:21%;
  font-size:2.3em;
  font-family:"Open Sans", sans-serif;
  font-weight:800;
  border-radius: 5px;
  color:#ffffff;
  background-color:#033048;
  padding:0.5em 2em 0.5em 2em;
}

section.signup button:hover{
  background-color:#121212;
  color:#ffffff;
}

footer {
  background-color:#121212;
}

footer div.footer_container{
  height:100%;
  width:30%;
  padding-top:5%;
  margin-left:35%;
}

footer div.footer_container h2{
  text-align:center;
  margin:0;
  color:#f9e42e;
  font-family:"Open Sans",sans-serif;
  font-size:3.5em;
  font-weight:800;
}

footer div.footer_container p{
  margin:0;
  margin-top:10%;
  padding-bottom:10%;
  text-align:center;
  color:#f0efef;
  font-family:"Open Sans",sans-serif;
  font-size:1em;
  font-weight:600;
}

footer div.footer_container div.icon{
  text-align:center;
  width:36%;
  margin-left:32%;
  margin-top:5%;
  margin-bottom:5%;
}

footer div.left{
  width:40%;
  float:left;
}

footer div.right{
  width:40%;
  float:right;
}














